#div1 {
    background-color: red;
    width: 300px;
    height: 300px;
    float: left;
}
#div2 {
    background-color: yellow;
    width: 300px;
    height: 300px;
    float: left;
}
#div3 {
    background-color: blue;
    width: 300px;
    height: 300px;
    float: left;
    clear: left;
}
