body {
    font-family: 'Verdana';
    font-size: 20px;
}
* {
    margin: 0px;
    padding: 0px;
}
.div1 {
    background-color: yellow;
    height: 50px;
}
.div2 {
    background-color: red;
    height: 50px;
}
.div3 {
    background-color: blue;
    height: 50px;
}
.div4 {
    background-color: hotpink;
    height: 50px;
}
.div5 {
    background-color: greenyellow;
    height: 50px;
}
.div6 {
    background-color: violet;
    height: 50px;
}
@media(min-width:100px) and (max-width:575px) {
    .div1 {
        width: 50%;
        float: left;
    }
    .div2 {
        width: 50%;
        float: left;
    }
    .div3 {
        width: 100%;
        clear: left;
    }
    .div4 {
        width: 100%;
    }
    .div5 {
        width: 100%;
    }
    .div6 {
        width: 100%;
    }
}
@media(min-width:576px) and (max-width:767px) {
    .div1 {
        width: 50%;
        float: left;
    }
    .div2 {
        width: 50%;
        float: left;
    }
    .div3 {
        width: 50%;
        clear: left;
        float: left;
    }
    .div4 {
        width: 50%;
        float: left;
    }
    .div5 {
        width: 50%;
        clear: left;
        float: left;
    }
    .div6 {
        width: 50%;
        float: left;
    }
}
@media(min-width:768px) and (max-width:991px) {
    .div1 {
        width: 33%;
        float: left;
    }
    .div2 {
        width: 33%;
        float: left;
    }
    .div3 {
        width: 34%;
        float: left;
    }
    .div4 {
        width: 33%;
        clear: left;
        float: left;
    }
    .div5 {
        width: 33%;
        float: left;
    }
    .div6 {
        width: 34%;
        float: left;
    }
}
@media(min-width:992px) and (max-width:1199px) {
    .div1 {
        width: 25%;
        float: left;
    }
    .div2 {
        width: 25%;
        float: left;
    }
    .div3 {
        width: 25%;
        float: left;
    }
    .div4 {
        width: 25%;
        float: left;
    }
    .div5 {
        width: 50%;
        clear: left;
        float: left;
    }
    .div6 {
        width: 50%;
        float: left;
    }
}
@media(min-width:1200px) {
    .div1 {
        width: 17%;
        float: left;
    }
    .div2 {
        width: 17%;
        float: left;
    }
    .div3 {
        width: 17%;
        float: left;
    }
    .div4 {
        width: 17%;
        float: left;
    }
    .div5 {
        width: 16%;
        float: left;
    }
    .div6 {
        width: 16%;
        float: left;
    }
}